<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean name="juniorDev" class="DI.JuniorDev">
        <property name="name" value="Anthony"/>
        <property name="skillLevel" value="10"/>
    </bean>

    <bean name="leadDev" class="DI.LeadDev">
        <constructor-arg value="Kurman"/>
        <constructor-arg value="omg"/>
        <constructor-arg value="10"/>
    </bean>






    <bean name="NicePrinter" class="DI.NicePrinter"/>

    <bean name="DevPrintedNicely" class="DI.DevPrintedNicely">
        <property name="name" value="Lina"/>
        <property name="skillLevel" value="厉害"/>
        <property name="np" ref="NicePrinter"/>
    </bean>

    <bean name="VirtualValueX" class="DI.VirtualValueX">
        <property name="dev" ref="DevPrintedNicely"/>
    </bean>



</beans>